/HandShake/nbproject/private/
/HandShake/build/
/HandShake/dist/
HandShake/nbproject/project.properties

HandShake/build/built-jar.properties
HandShake/dist/lib/itextpdf-5.4.2.jar
HandShake/dist/lib/jfoenix-8.0.8.jar
HandShake/dist/lib/pdfjet-5.75.jar
HandShake/build/built-jar.properties
